.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100%;
    margin: 1%,1%;
   
}
@media only screen and (max-width: 768px){
    .posts{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}