.subReddits{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);

}
@media only screen and (max-width: 768px) { 
    .subReddits{display: none;}
}